.display-3 {
    font-family:Playfair Display,serif !important;
    font-size: 38px !important;
}
.nato{
    font-family: "Noto Sans","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    color: #5d738d;
}
.jumbo-bg{
    background-color: #f4f6f8;
}
.ash{
    height: 80px;
}
#imag-top{
height: 225px!important;
}